<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: site.title }}</title>
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include nav.html %}

  <main class="container content">
    {{ content }}
  </main>
  <footer class="site-footer">
    <div class="container">
      <p>&copy; {{ "now" | date: "%Y" }} Eudaimonia IP / UDIP Consult · All rights reserved.</p>
    </div>
  </footer>
</body>
</html>